

.container {
    border: 1px solid gray;
    background-color: #d2d2de;
    border-radius: 20px;
    direction: ltr;
    width: 60%;
    margin-right: 100px;
    padding: 50px;
    margin-top: 50px;
}

.container div {
    margin: 20px 0px;
}

.container button {
    display: flex;
    background-color: gray;
    color: white;
    padding: 10px 50px;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}

.container input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}